################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WcfCoreTestClient/obj
/.vs/WcfCoreTestClient/v15
/WcfCoreTestClient/bin/*
